body{
  background-color: red;
}

.principal{
  background:	#DAA520;
}

.titulo-principal{
  text-align: center;
  font-size: 50px;
}
.titu-dois{
  text-align: center;
  font-size: 40px;
  color: blue;
}
#sus{
  font-size: 20px;
  color: indigo;
  font-style: italic;
}
#sus2{
  color: indigo;
  font-size: 20px;
  font-size: italic;
}
#sus3{
  color: indigo;
  font-size: 20px;
  font-style: italic;
}
.titulo3{
  text-align: center;
  font-size: 40px;
  color: blue;
  background: gold;
}
.itens{
  color: firebrick;
  font-style: italic;
  background: gold;
  font-size: 20px;
}
#lucro{
  width: 30%
}

#sussa{
  width: 30%;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
  background: gold;
}